/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* *********************************************************************************************/
body {
background-color: #f0f0f0;
background-repeat: no-repeat;
background-position:center center; 

}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}


#iit_logo{
display: block;
  margin: 0 auto;
  width: 350px;
  margin-bottom: 50px;
  margin-top: 10%;
}


.container {
  display: block;
  width: 90%;
  border: white solid 0.5px;
 background-color: lightgrey;
  padding: 20px 0;
  text-align: center;
  border-radius: 8px;
}


form {
  padding: 20px 0;
}

form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: white;
  width: 55%;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 15px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  font-weight: 300;
}

form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  margin: 0 auto 15px auto;
  color: red;
  border-radius: 5px;
  width: 37%;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin-top: 5%;
}

form button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form a{
  text-decoration: none;
}
@media screen and (min-width: 350px){
.container {
  width: 350px;
 margin: 0 auto;
}

#iit_logo{
  margin-top: 150px;
}
}


